body {
}

.gapcol {
    column-gap: 20px;
}
.coverx {
    display: grid;
    grid-template-columns: 55% 45%;
    border-radius: 15px;
    width: 100%;
    height: 1080px;
}


    .coverx-item:nth-child(1) {
   
       
    }

.coverx-item:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-repeat: no-repeat;
    background-size: auto 100%;
    object-fit:cover;
}


.about {
    display: grid;
    grid-template-columns: 100%;
    border-radius: 15px;
    width: 100%;
    height: 1080px;
    background-image: url('https://images.unsplash.com/photo-1565610222536-ef125c59da2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-repeat: no-repeat;
    background-size: auto 100%;
    object-fit: cover;
}
.fixh {
    height: 1080px;
    background-color: aqua;
    padding: 100px 20px;
}

.fixfooter {
    height: 380px;
    background-color: #efcebd;
   
}

.imgBackground {
    background-image: url('https://images.unsplash.com/photo-1516617442634-75371039cb3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 965px;
  /*  opacity: 0.5;*/
    position: relative;

}


.LoginBox {
    position: absolute;
    margin: 20px;
    max-width: 400px;
    padding: 100px 20px;
    background-color: white;
}