@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Http;

@{
    var user = (TblAccount)Context.Items["User"];
}

<div class="row">
    <div class="col">
        <input id="AccName" class="form-control" placeholder="Acc Name" hidden value="@user.AccName" />



         
            <input id="ProdName" class="form-control" placeholder="Product Name"/>
      
         
            <br />
            <textarea id="ProdRemark" class="form-control" placeholder="Description"></textarea><br />
            <input class="form-control-file" id="FromFile" type="file" multiple />
        </div>
        <div class="col">
         
            <input id="Price" class="form-control" placeholder="Price" /> <br />
            <input id="ProdUnit" class="form-control" placeholder="Number" /> <br />
            <select id="ProdUnitType" class="form-select" aria-label="Default select example">

                @foreach (var data in ViewBag.UnitData)
            {
                <option value="@data.Id">@data.Amount</option>
            }
            </select>
            <br>
        </div>
    </div>


