@{
    ViewData["Title"] = "Home Page";
}


<div class="mainshow">
    <div class="container-fluid coverx" id="home">

        <div class="coverx-item"></div>

        <div class="coverx-item"></div>


    </div>

    <div class="container-fluid mt-3 about" id="about">


        <a >about</a>
    </div>


    @*<div class="container-fluid fixh" id="service">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
            </div>
            </div>

        </div>*@
<div class="container mt-3 fixfooter" id="footer">

    <div class="row">
        <div class="col-md-4">
            <h2>Contract us</h2>
            <p>
                Development To The Moon.
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Developer</h2>
            <p>
                Ak <br />
                Ad  <br />
St</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            @*<h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>

</div>

    </div>



