@{
    ViewData["Title"] = "Home Page";
}


<div class="mainshow">
    <div class="container-fluid fixh" id="home">


        <a>home</a>

    </div>

    <div class="container-fluid fixh" id="about">


        <a >about</a>
    </div>


    <div class="container-fluid fixh" id="service">
        <a>service</a>


    </div>
    <div class="container-fluid fixfooter">


    </div>

</div>



