
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model cloudstky.Models.MdlLogin



<div class="container-fluid imgBackground">

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="bg-transparent p-lg-5 w-75">
            <h3 class="text-white">Log in to your account</h3>

            @using (Html.BeginForm())
            {
            <div class="input-group mb-3 form-login">
                <div class="Requireup">

                    @Html.EditorFor(model => Model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => Model.Username)
                </div>
            </div>

            <div class="input-group mb-3 form-login">

                <div class="Requireup">
                    @Html.PasswordFor(model => Model.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(model => Model.Password)
                </div>
            </div>

            <button class="btn btn-outline-success" type="submit">เข้าสู่ระบบ</button>

                    }

        </div>

    </div>
</div>