
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid imgBackground">

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="shadow p-4">
            <h5>Log in to your account</h5>

            <div class="input-group mb-3">
             
                <input type="text" class="form-control" aria-label="Default" placeholder="Username" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
             
                <input type="password" class="form-control" aria-label="Default" placeholder="Password" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>

</div>

